@model BlogDiscussion2.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.body)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.likes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.likes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isPublished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isPublished)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
